.general-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    @include adaptTo('not-mobile'){
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    @include adaptTo('desktop-l'){
        margin: 5% 10%;
        background-color: $color4;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    @include adaptTo('desktop-xl'){
        margin: 5% 12%;
        background-color: $color4;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &__data{
        display: flex;
        flex-direction: column;
        width: 100%;
        @include adaptTo('not-mobile'){
            background-color: $color4;
            width: 65%;
            padding: 50px 50px 50px 10px;
        }
    }

    &__texts{
        display: flex;
        flex-direction: column;
        @include adaptTo('desktop-l'){
            flex-direction: row;
         }
         @include adaptTo('desktop-xl'){
            flex-direction: row;
         }
    }
    &__text{
        @include adaptTo('desktop-l'){
            width: 50%;
            margin: 0 10px 0 0;
         }
         @include adaptTo('desktop-xl'){
            width: 50%;
            margin: 0 10px 0 0;
        }
    }

    &__name{
        display: flex;
        width: 100%;
        height: 52px;
        align-items: center;
        justify-content: center;
        background-color: $color21;
        border-radius: 30px;
        color: $color18;
        font-size: 20px;
        font-family: 'PoppinsBold';

        @include adaptTo('not-mobile'){
            display: flex;
            background-color: unset;
            width: 300px;
            height: 100%;
            font-size: 40px;
            margin: 0 auto;
            text-align: center;
        }

        @include adaptTo('desktop-l'){
           border-right: 2px solid $color9;
           border-radius: 0;
        }

        @include adaptTo('desktop-xl'){
            border-right: 2px solid $color9;
            border-radius: 0;
        }
    }
    &__title{
        color: $color2;
        font-family: 'PoppinsBold';
        font-size: 14px;
        font-style: normal;
        line-height: normal;
        margin-top: 10px;

    }
    &__info{
        font-size: 18px;
        font-family: 'Poppins';
        background-color: $color21;
        border-radius: 100px;
        padding: 3px 10px 3px 10px;
        width: 100%;

    }
    &__characters-list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
        gap: 10px;
    }
    &__img{
        border-radius: 100%;
        border: 2px solid $color18;
        width: 90px;
        height: 90px;
    }
}